.header{
  padding: 20px;
  background-color: #222;
}

.header a{
  margin: 20px;
  color: orange;
  text-decoration: none; /* 밑줄 없게*/
}

.header a:hover{ /* 마우스커서 위치하면 색이 바뀌게함 */
  color: #eee;
}

.contents{
  margin-top:30px;
}

.header-user{
  display: inline-flex;
  align-items: center;
  gap:10px;
  color:#eee;
}

.btn-logout{
  padding: 6px 12px;
  background-color: transparent;
  border-radius: 6px;
  color:#ff911c;
  cursor:pointer;

}

/*상품목록 스타일*/
.table-list{
  border: 1px solid #ccc;
  margin: 16px auto; /* top bottom*/
  width: 60%; /* %(가변크기)- 브라우져 너비의 60% */
  border-collapse: collapse; /*테두리 합치기(원래 seperate임)*/
}

.table-list th, td{
  border: 1px solid #ccc;
  padding: 6px;
}

.table-list thead{
  background-color: #eee;
}

.btn-add{
  left: 20%;
}

.product-detail{
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
  text-align: left;
}

.product-detail p{margin: 10px;}

.btn-list{
  margin: 20px;
}

.signin-form input{
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-form button{
  width: 100%;
  padding: 8px 16px;
  margin-left: 12px;
  background-color: #28a745;
  color:#eee;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}



